{{extend "layout.html"}}
<div>
	{{=H2(T("Create a new CAP notification"))}}
	<div class='form-container'>
	<form class="advanced-form" enctype="multipart/form-data" action="{{=URL()}}" method="post" style="height: 500px">
			{{=H3(T("Alert"))}}
	<div class='cap_add_dialog_left'>
		<table><tbody>
		<tr>
			<td>
				{{=T("Message identifier:")}}
			</td>
			<td>
				<input class="cap_add_str" name="ident" value="MSG012-50" />
		</td></tr>
		<tr>
			<td>
				{{=T("Sender identifier:")}}
			</td>
			<td>
				<input class="cap_add_str" name="sender_ident" value="me" />
		</td></tr>
		<tr>
			<td>
				{{=T("Sent:")}}
			</td>
			<td>	
				<input class="cap_add_str" name="sender_ident" value="DATETIME" />
		</td></tr>
			
			
			<tr class="cap_edit_headline_row"><td class="cap_edit_headline"></td></tr>
			<tr>
				<td>{{=T("Status")}}</td>
				<td>
					<select name="status" class="cap_add_sel" size="1">
			      		<option>Actual</option>
			      		<option>Exercise</option>
			      		<option>System</option>
			      		<option>System</option>
			      		<option>Test</option>
			      		<option>Draft</option>
		 			</select>
	 			</td>
				<td style="padding-left: 20px">{{=T("Source")}}</td>
				<td><input class="cap_add_str" value="3.781.72.57"  name="Source" /></td>	
			</tr>
			<tr>
				<td>{{=T("Scope")}}</td>
				<td>
					<select name="scope" class="cap_add_sel" size="1">
			      		<option>Public</option>
			      		<option>Restricted</option>
			      		<option>Private</option>
		 			</select>
				</td>
				<td style="padding-left: 20px">{{=T("Restriction [Restricted]")}}</td>
				<td><input class="cap_add_str" value="3.781.72.57"  name="attr2" /></td>			
			</tr>
			<tr><td colspan="4">
				{{=H4(T("Optional"))}}				
			</td></tr>
			<tr class="cap_edit_headline_row"><td class="cap_edit_headline"></td></tr>
			<tr>
				<td>{{=T("Code")}}</td>
				<td><input class="cap_add_str" value="myTemplate"  name="code" /></td>
				<td style="padding-left: 20px">{{=T("References")}}</td>
				<td><input class="cap_add_str" value="Bla"  name="references" /></td>	
			</tr>
			<tr>
				<td>{{=T("Incidents")}}</td>
				<td><input class="cap_add_str" value="An incident" name="incidents" /></td>
				<td style="padding-left: 20px">One more attribute</td>
				<td><input class="cap_add_str" value="3.781.72.57"  name="attr4" /></td>			
			</tr>	
		</table>
		<input type=submit value="{{=T('Submit')}}" />
	</div>
	<div class='dataTable_table cap_edit_alert'>
		{{=H3(T("Rescource"))}}
		<table class='dataTable display'>
			<thead>
				<tr>
					<th>{{=T("Functions")}}</th>
					<th>{{=T("Language")}}</th>
					<th>{{=T("Author")}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="width:100px">
						<a class="action-btn" href="{{=URL(f="edit_msg_info", args="0")}}">{{=T("Edit")}}</a>
						<a class="action-btn" href="{{=URL(f="", args="0")}}">{{=T("Delete")}}</a>
					</td>
					<td>
						English
					</td>
					<td>
						Me
					</td>
				</tr>
								
			</tbody>
		</table>
		</div>	
	</form>
	<br />
	<p>{{=T("CAP notifications follow")}} <a href="http://docs.oasis-open.org/emergency/cap/v1.2/CAP-v1.2-os.html">OASIS-Open v1.2</a></p>
	</div>